body {
  padding-top: 45px;
}

.spacing {
  margin-bottom: 10px;
}

.tap {
  cursor: pointer;
}

.hero {
  background: url(/assets/hero.jpg) no-repeat 0 0;

  .hero-title {
    color: #e1e2e3;
  }

  .lead {
    color: #e1e2e3;
  }

}
