@charset "utf-8";

body {
  background-color: #123;
  color: #f7f8f9;
  font-size: 16px;
  font-family:
   'Josefin Sans',
    Helvetica,Arial,Sans-Serif,
    "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",
    "ＭＳ Ｐゴシック","MS PGothic";
}

.get-comment-wrap {
  margin: 0 .5em 1em;
}

.get-comment {
  box-sizing: border-box;
  padding: .5em;
  font-size: 16px;
  width: 100%;
  background-color: #c7c8c9;
}

.post-button-wrap {
  margin: 0 .5em 1em;
  text-align: right;
}

.post-button {
  border: solid 1px #f7f8f9;
  background-color: #345;
  padding: .5em 1em;
  vertical-align: bottom;
  font-size: 16px;
  color: #f7f8f9;
  box-shadow: -2px -2px 0px #012 inset;
}

.post-button.disabled {
  color: #789;
  box-shadow: none;
}

.comment-list {
  margin: .5em 0 0;
  padding-left: 1em;
}

.nanika-item {
  margin-bottom: .5em;
}
.nanika-item:last-child {
  margin-bottom: 0;
}

.less {
}
.action {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
.action li {
  cursor: pointer;
  display: inline-block;
}
.like, .bad {
}
.like {
  margin-bottom: .5em;
  margin-right: 1em;
}
.bad {
  text-align: right;
}
