<template name="new">

  <div class="container">

    <div class="page-header">
      <h1>日程をえらブーン</h1>
    </div>

    <form class="form-horizontal row">

        <div class="col-lg-6">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">STEP1: イベントを入力するブーン(^q^</h3>
            </div>
            <div class="panel-body">

              <div class="form-group" id="eventTitleGroup">
                <label for="inputEventTitle" class="col-lg-4 control-label">
                  <p>
                    <span class="text-warning">*</span>
                    イベント名
                  </p>
                </label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" id="inputEventTitle" placeholder="ex: 歓迎会">
                  <p class="text-warning hide" id="inputEventTitleIsRequired">イベント名を教えてブーン</p>
                </div>
              </div>

              <div class="form-group" id="infoAreaGroup">
                <label for="infoArea" class="col-lg-4 control-label">
                  <p>
                    <span class="text-warning">*</span>
                    詳細など
                  </p>
                </label>
                <div class="col-lg-8">
                  <textarea class="form-control" rows="5" id="infoArea"></textarea>
                  <p class="text-warning hide" id="infoAreaIsRequired">詳細を教えてブーン</p>
                </div>
              </div>

              <div class="form-group" id="inputPasswordGroup">
                <label for="inputPassword" class="col-lg-4 control-label">
                  <p>
                    <span class="text-warning">*</span>
                    主催者パスワード
                  </p>
                </label>
                <div class="col-lg-8">
                  <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                  <p class="text-warning hide" id="inputPasswordIsRequired">パスワードを入れるんだブーン</p>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">STEP2: 日程を選択するブーン(^q^</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <div id="date-picker"></div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="form-group" id="selectDateGroup">
                      <label for="select-date"><span class="text-warning">*</span>日程</label>
                      <input class="form-control" id="select-date" type="text" readonly="readonly">
                      <p class="text-warning hide" id="selectDateIsRequired">日程をえらブーン</p>
                    </div>
                    <div class="form-group">
                      <label for="select-start-time">開始時間</label>
                      <select class="form-control" id="select-start-time">
                        {{#each .}}
                          <option value="{{option}}">{{.}}</option>
                        {{/each}}
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="select-end-time">終了時間</label>
                      <select class="form-control" id="select-end-time">
                        {{#each .}}
                          <option value="{{option}}">{{.}}</option>
                        {{/each}}
                      </select>
                    </div>
                  </div>
                  <button type="button" class="btn btn-primary btn-lg btn-block" id="postEntry" data-link="{{pathFor 'admin'}}">登録するブーン</button>
                </div>
              </div>
            </div>
          </div>
        </div>

    </form>

  </div>

  <script>
  var Helper;!function(a){function b(a){return a.getFullYear()+"."+(a.getMonth()+1)+"."+a.getDate()}a.createDate=b}(Helper||(Helper={}));var DatePickerApp=function(){function a(){this.$selectDate=$("#select-date"),this.$datePicker=$("#date-picker"),this.ready()}return a.prototype.ready=function(){var a=this,b={language:"ja",todayHighlight:!0,format:"dd/mm/yyyy"};this.$datePicker.datepicker(b).on("changeDate",function(b){return a.updateDate(b)})},a.prototype.updateDate=function(a){if(_.isUndefined(a.date))this.$selectDate.val("");else{var b=Helper.createDate(new Date(a.date));this.$selectDate.val(b)}},a}();

  $(function() {
      new DatePickerApp();
  });
  </script>
</template>
