<template name="new">

  <div class="container">

    <h1>日程をえらブーン</h1>

    <form class="form-horizontal">

      <div class="row">

        <div class="col-lg-6">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">イベントを入力するおっ(^q^</h3>
            </div>
            <div class="panel-body">

              <div class="form-group">
                <label for="inputEventTitle" class="col-lg-4 control-label">イベント名</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" id="inputEventTitle" placeholder="ex: 歓迎会">
                </div>
              </div>

              <div class="form-group">
                <label for="inputEventTime" class="col-lg-4 control-label">予定時間</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" id="inputEventTime" placeholder="ex: 移動込みで3時間くらい">
                </div>
              </div>

              <div class="form-group">
                <label for="infoArea" class="col-lg-4 control-label">詳細など</label>
                <div class="col-lg-8">
                  <textarea class="form-control" rows="5" id="infoArea"></textarea>
                </div>
              </div>

              <div class="form-group">
                <label for="inputPassword" class="col-lg-4 control-label">主催者パスワード</label>
                <div class="col-lg-8">
                  <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">日程を選択するおっ(^q^</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <div id="date-picker"></div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="select-date">日程</label>
                      <input class="form-control" id="select-date" type="text" readonly="readonly">
                    </div>
                    <div class="form-group">
                      <label for="select-start-time">開始時間</label>
                      <select class="form-control" id="select-start-time">
                        {{#each options}}
                          <option value="{{option}}">{{option}}</option>
                        {{/each}}
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="select-end-time">終了時間</label>
                      <select class="form-control" id="select-end-time">
                        {{#each options}}
                          <option value="{{option}}">{{option}}</option>
                        {{/each}}
                      </select>
                    </div>
                  </div>
                  <button type="button" class="btn btn-primary btn-lg btn-block">登録ブーン</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div><!-- /row -->

    </form>

  </div>

  <script>
  var Helper;!function(a){function b(a){return a.getFullYear()+"."+a.getMonth()+"."+a.getDate()}a.createDate=b}(Helper||(Helper={}));var DatePickerApp=function(){function a(){this.$selectDate=$("#select-date"),this.$datePicker=$("#date-picker"),this.ready()}return a.prototype.ready=function(){var a=this,b={language:"ja",todayHighlight:!0,format:"dd/mm/yyyy"};this.$datePicker.datepicker(b).on("changeDate",function(b){return a.updateDate(b)})},a.prototype.updateDate=function(a){if(_.isUndefined(a.date))this.$selectDate.val("");else{var b=Helper.createDate(new Date(a.date));this.$selectDate.val(b)}},a}();

  $(function() {
      new DatePickerApp();
  });
  </script>
</template>
