<template name="show">

  <div class="container">
    <div class="page-header">
      <h1>
        {{result.eventTitle}}
        <small>{{result.selectDate}} / {{result.selectStartTime}} - {{result.selectEndTime}}</small>
      </h1>
    </div>

    <div class="row" id="{{result._id}}">
      <div class="panel panel-info">
        <div class="panel-body">
          <dl class="spacing">
            <dt>予定時間</dt>
            <dd><pre>{{result.eventTime}}</pre></dd>
          </dl>
          <dl>
            <dt>詳細など</dt>
            <dd><pre>{{result.eventInfo}}</pre></dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">下記のURLをみんなで共有して予定を調整しちゃおっ(・ω&lt;)</h3>
        </div>
        <div class="panel-body">
          <div class="input-group spacing">
            <input type="text" class="form-control" value="{{thisUrl}}" id="copyTargetUrl" readonly="readonly">
            <span class="input-group-btn">
              <button class="btn btn-default btn-primary" id="sendMail" type="button">Send Mail</button>
            </span>
          </div><!-- /input-group -->

          <p class="text-danger">
            <span class="glyphicon glyphicon-remove"></span>
            <span id="delete" data-id="{{result._id}}">このイベントを削除する</span>
          </p>

        </div>
      </div>
    </div>

  </div>

</template>
