<template name="show">

  <div class="container boon" id="boon" data-id="{{boon._id}}">
    <div class="page-header">
      <h1>
        {{boon.eventTitle}}
        <small> - {{boon.selectStartTime}} - {{boon.selectEndTime}}</small>
      </h1>
    </div>

    <div class="row">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">詳細など</h3>
        </div>
        <div class="panel-body">
          <pre>{{boon.eventInfo}}</pre>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">みんなの予定</h3>
        </div>
        <div class="panel-body">
          <div class="list-group">
          {{#each comments}}
            <div href="#" class="list-group-item">
              <h4 class="list-group-item-heading">{{nickname}}</h4>
              <p class="list-group-item-text">{{comment}}</p>
            </div>
          {{/each}}
          </div>
          {{> addSchedule}}
        </div>
        <table class="table spacing">
          <thead>
            <tr>
              <th>Name</th>
              {{#each boon.selectDates}}
              <th class="text-center">
                {{dateToStr .}}
              </th>
              {{/each}}
              <td></td>
            </tr>
          </thead>
          <tbody>
            {{#each comments}}
            <tr>
              <th>{{nickname}}</th>
              {{#each selectDates}}
              <td class="text-center {{statusState status}}">
                <span class="glyphicon {{statusIcon status}} {{statusText status}}"></span>
              </td>
              {{/each}}
              <td class="text-center text-danger"><span class="tap" data-id="{{_id}}" data-toggle="modal" data-target="#deleteCommentModal"><span class="glyphicon glyphicon-trash"></span></span></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        {{> deleteComment}}
        <div class="panel-footer">
          <div class="text-right">
            <button class="btn btn-primary" data-toggle="modal" data-target="#addScheduleModal"><span class="glyphicon glyphicon-plus"></span> 予定を登録する</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">下記のURLをみんなで共有して予定を調整しちゃおっ(・ω&lt;)</h3>
        </div>
        <div class="panel-body">
          <p class="spacing"><a href="{{thisUrl}}">{{thisUrl}}</a></p>
          <span class="text-danger tap">
            <span class="glyphicon glyphicon-remove"></span>
            <span data-id="{{boon._id}}" data-toggle="modal" data-target="#deleteModal">このイベントを削除する</span>
          </span>
          {{> deleteBoon}}
        </div>
      </div>
    </div>

  </div>

</template>
